@charset "utf-8";

/* html,body{
    height: 100%;
} */

body{
    background-color: #F6E6CB;
    color: #fff;
    font-size: 16px;
}

#wrap{}
.header{
    width: 100%; height: 145px; 
    position: fixed;
    z-index: 10;
}
.head_inner{}

.nav{
    width: 100%;
    border-bottom: 1px solid #fff;
    /* position: fixed; */
    
}

.main{
    /* padding: 10px 0; */
    display: flex;
    justify-content: space-around;
    /* align-items: flex-end; */
    font-size: 20px;
    /* border: 1px solid red; */
}

.main>li{position: relative; }

.main>li>a{
    display: block;
    height: 145px;
    line-height: 145px;
    text-align: ;
    /* border: 1px solid red; */
}

.main>li:hover>a{
    border-bottom: 2px solid #fff;
}
.main>li.logo_img:hover>a{border-bottom: none !important;}


.main>li>img{}


.sub{
    /* display: none; */
    position: absolute;
    left: -50px; top: 145px;
    width: 250%;
    font-size: 16px;
    display: none;
    text-align: center;
    z-index: 50;
    background: rgba(255, 255, 255, 0.3);
}

.sub>li{}
.sub>li:hover>a{text-shadow: 0 0 10px #534741; text-decoration: underline;}
.sub>li a{
    display: block;
    height: 40px;
    line-height: 40px;
}

.sub1{}
.sub2{}
.sub3{}
.sub4{}
.sub5{}
.sub6{}
.sub7{}



/* ///////////////////////////////////contents 영역/////////////////////////// */

#contents{
   /* height: 100%; */
}

.box1{
    width: 100%; height: 988px;
    background-image: url("../img/main.gif");
    background-repeat: no-repeat;
}

.box2{
    width: 100%; height: 988px;
    background: url("../img/main2.jpg") center center / 120% 117% no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.pic{
    /* border: 1px solid red; */
    width: 960px;
    height: 988px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.box2 .left1{
    width: 273px; height: 459px;
    background: url("../img/doc1.jpg");
    margin-right: 100px;
}
.box2 .left2{
    width: 273px; height: 459px;
    background: url("../img/tool1.jpg") no-repeat center / cover;
}

.right{
    margin-right: 170px;
    /* border: 1px solid red; */
    /* width: 960px; */
    /* height: 988px; */
    text-shadow: 0 0 5px gray;
    /* padding: 200px 50px 300px 350px; */
    text-align: right;
}
.right h1{
    font-size: 50px;
    letter-spacing: 4px;
    font-weight: lighter;
}
.right h2{
    font-size: 40px;
    letter-spacing: 2px;
}
.right h3{
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 400;
}
.right h4{letter-spacing: 1px; font-weight: lighter;}
.right .h4-1{}
.right .h4-2{}
.right .h4-3{}
.right .h4-4{}


/* <!-- ////////////////////////////////////////사진 4개 --> */

.box3{
    display: flex;
    text-align: center;
    overflow: hidden;
}

.boxpic{
    padding-top: 170px;
    width: 480px; height: 970px;
    /* border: 1px solid red; */
    overflow: hidden; 
    transition: all 0.5s;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.boxpic:hover{
    background-size: 110%;
}


.boxpic>div>img{margin: 50px 0;}
.boxpic>h2{margin-bottom: 30px;}
.boxpic>p{margin-bottom: 30px; line-height: 1.5;}
.boxpic>a{}
.boxpic>a:hover{ border-bottom: 1px solid #fff;}


.boxpic.box3_1{
    background-image: url("../img/3-1.jpg");
    
}

/* .icon:hover img{transform: scale(1.2);} */

.boxpic.box3_2{
    background-image: url("../img/3-2.jpg");
    transition: all 0.5s;
    
}
/* .box3_2:hover{transform: scale(1.2);} */

.boxpic.box3_3{
    background-image: url("../img/3-3.jpg");
    transition: all 0.5s;
    
}
/* .box3_3:hover{transform: scale(1.2);} */

.boxpic.box3_4{
    background-image: url("../img/3-4.jpg");
    transition: all 0.5s;
    
}
/* .box3_4:hover{transform: scale(1.2);} */


/* ///////////////////////////////////////////////////////box4구역 */



.box4{
    position: relative;
    height: 988px;
}

.box4_img{
    
    background: url(../img/shop2.jfif) no-repeat center / cover;
    width: 100%; height: 988px;
    filter: blur(3px) brightness(0.6);
    text-indent: -9999px;
    position: absolute;
    left: 0; top: 0;
}

.box4_inner{
    /* border: 1px solid red; */
    height: 988px;
    width: 1320px;
    position: absolute;
    left: 50%; top: 0;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}

.box4 h1{
    margin-top: 200px;
    font-size: 4rem;
    font-weight: 100;
    width: 100%;
    text-align: center;
    /* border: 1px solid red; */
}

.box4 h3{
    /* border: 1px solid red; */
    font-size: 1.4rem; 
    letter-spacing: 2px; 
    font-weight: 100;
    width: 100%;
    text-align: center;
}

.box4_pic{
    overflow: hidden;
    width: 350px; height: 270px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: right;
    position: relative;
    transition: all 0.3s;
}

.box4_pic:hover{transform: scale(1.1); box-shadow: 0 0 8px #fff;}

.box4_pic span{position: absolute;
right: 10px; bottom: 10px;}

    .box4_pic>a>img{height: 100%;}

.box4_img1{}
.box4_img2{}
.box4_img3{}

.detail_view{width: 100%;}
    
    .detail_view a{
        display: block;
        width: 250px;
        height: 90px;
        border: 1px solid #fff;
        font-size: 20px;
        letter-spacing: 1px;
        text-align: center;
        line-height: 90px;
        margin: 0 auto; 
    }

    .detail_view a:hover{
        box-shadow: 0 0 10px #fff;
    }



/* /////////////////////////box5구역////////////////////////// */

.box5{
    color: #696969;
    background: url(../img/box5bg.png);
    width: 100%; height: 988px;
    /* border: 50px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.box5_con{
    padding-top: 40px;
    width: 450px;
    height: 330px;
    border: 10px solid rgba(255, 255, 255, 0.8);
    text-align: center;
    line-height: 2;
}

.box5_con h3{font-size: 3rem;}
.box5_con h2{font-size: 4rem;}
.box5_con h4{font-size: 2rem;}

.box5_con1{}
.box5_con1 h2 a{transition: all 0.3s;}
.box5_con1 h2:hover a{text-shadow: 0 0 10px #fff;}


.box5_con2{}


    .time{
        padding-left: 110px;
        /* border: 1px solid rebeccapurple; */
        line-height: 1.5;
        font-size: 1.3rem;
        text-align: justify;}
        


.box5_con3 a img{transition: all 0.3s;}
.box5_con3 a:hover img{transform: scale(1.2);}
        
        
        


/* <!-- ////////////////////////////footer영역/////////////////////////// --> */


.footer{ color: #eee;
font-weight: 100;}
.f_up{
    width: 100%; height: 275px;
    background: #534741;
    
}
.foot_inner{width: 1500px; margin: 0 auto;
    display: flex; height: 275px;
    align-items: center;
}

.f_logo{ 
    width: 195px; height: 91px;
    background: url("../img/full_logo.png") no-repeat;
    text-indent: -9999px;
    margin-left: 100px;
}

.f_box1{margin: 0 100px;}

.f_box2{margin-left: 180px;}

.f_menu{
    /* margin-left: 220px; */
}
.f_menu li{
    padding: 5px 0;
}
.f_menu li a{}


.f_menu2{}
.f_menu2 li{
    color: #eee;
    font-weight: 100;
    display: inline-block;
    margin-top: 10px;
}


.f_down{
    width: 100%; height: 135px;
    background: #3B302A;
}

.cs{line-height: 1.5; font-weight: 100; text-align: right;}
.cs h3{}
.cs h2{margin-bottom: 30px;}

.sns{padding-left: 70px; }
.sns li{

    /* border: red 1px solid; */
    display: inline-block;
    width: 44px; height: 40px;
    text-indent: -9999px;
    margin: 10px 5px;
}
.goto{text-align: right; padding-left: 50px; font-weight: 100;}

.sns_1{
    background: url("../img/10030.png") no-repeat;
}
.sns_2{
    background: url("../img/10031.png") no-repeat;
}
.sns_3{
    background: url("../img/10032.png") no-repeat;
}
.sns_4{
    background: url("../img/10033.png") no-repeat;
}


.f_down{
    text-align: center;
}

.copy{
    display: inline-block;
    color: #696969;
    padding: 30px 0;
}


/* /////////////////하단박스//////////////// */


.cs_form_box{
    width: 1500px;
    height: 80px;
    background: #2e2e2e;
    text-align: center;

    position: fixed;
    bottom: 0; left: 50%;
    transform: translateX(-50%);
    border-radius: 20px 20px 0 0 ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.cs_form_box_logo{
    width: 241px; height: 70px;
    
    background: url(../img/logo_hori.png) no-repeat center center;
    /* border: 1px solid red; */
    
}

.cs_form_box .form {
    height: 70px;
    /* border: 1px solid red;
    background-color: blue;  */
    padding-top: 17px;
}

.cs_form_box input{
    width: 150px; height: 30px;
    margin: 0 5px;
}

.cs_form_box form select{
    margin: 0 15px;
    padding-left: 150px;
    width: 150px; height: 30px;
}

/* .checkbox{width: 10px !important; height: 10px !important;} */
.checkbox{width: auto !important; height: auto !important;}


.agree{display: inline-block; font-size: 14px; padding-right: 8px;}
.agree a{color: goldenrod; }


.cs_box{
    /* border: 1px solid red; */
    width: 200px; height: 60px;
    background-color: #6d5a4f;
    border-radius: 50px;
}

.cs_box:hover{background-color: #a18c81;}
.cs_box a{
    display: block;
    line-height: 60px;
    font-size: 2rem;
    
}


            /* 스티키배너 */

            .top{
                width: 70px;
                position: fixed;
                left: 95%;
                top: 500px;
            }
            
            .top a{
                display: block;
                text-align: center;
                margin: 10px 0;
            }
            
            .top .pos{
                position: sticky;
                /* top: 300px; */
            }
            